[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-heroku = "*"
pillow = "*"
requests = "*"
django-allauth = "*"
django-rest-swagger = "*"
pyyaml = "*"
gunicorn = "*"
django-cors-headers = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
